<form action="/users/articles" method="POST">
    <input type="text" name="title" placeholder="Title">
    <textarea name="description" placeholder="Description" rows="10"></textarea>
    <input type="text" name="tags" placeholder="Tags">
    <input type="submit" value="Submit">
</form>