<form action="/users" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="address.city" placeholder="City">
    <input type="text" name="address.state" placeholder="State">
    <input type="text" name="address.country" placeholder="Country">
    <input type="text" name="address.pin" placeholder="Pincode">
    <input type="submit" value="Submit">
</form>